<ion-header>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>
<ion-content>

<ion-content>
  <ion-card>  
 
    <div class="foto">    
        <img class="img-circle" src="/assets/img/img-perfil.png">
    </div>
    <div class="col-s7">
       <p class="txt-usuario">Leonardo Santiago</p>
       <p class="txt-desapegando">Desapegando desde <span>Jun/2019</span></p>
    </div>
   
  </ion-card>

  <div class="cards">
    <ion-card class="card" (click)="goToRegister()">
      <img class="icons" src="/assets/img/icon-conta.svg">
      <h2 class="title-card">Cadastro</h2>
    </ion-card>

    <ion-card class="card">
      <img class="icons" src="/assets/img/icon-senha.svg">
      <h2 class="title-card">Senha</h2>
    </ion-card>

    <ion-card class="card">
      <img class="icons" src="/assets/img/icon-carrinho.svg">
      <h2 class="title-card">Pedidos</h2>
    </ion-card>

    <ion-card class="card">
      <img class="icons" src="/assets/img/icon-sair.svg">
      <h2 class="title-card">Sair</h2>
    </ion-card>

  </div>
</ion-content>
