ion-header {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: contents;
    text-align: center;
 }
 .img-header{
     margin: 10px auto;
     width: 70%;
     margin-top: 13px;
     margin-bottom: 5px;
 }
 ion-card{
    display: flex;
    background-color: black;
    color: white;
    margin-left: 30px;
    height: 18%;
    margin-right: 30px;
 }
 .foto{
    border-radius: 50% !important;
    width: 28%;
 }
 .img-circle{
    border-radius: 50% !important;
    width: 70%;
    margin-top: 15px;
    margin-left: 10px;
 }
 .txt-desapegando {
    font-size: 12px;
    color: white;
}
.txt-usuario {
    font-weight: bold;
    margin-bottom: -9px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.card{
    height: 85px;
    display: inline-table;
    text-align: center;
    color: #a89aef;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    border-radius: 5px;
    

}
.icons{
    font-size: 100px;
    width: 40px !important;
    padding: 10px 0 0 0;
    height: 39px;
}
.title-card{
    font-size: 18px;
    margin: 10px 0px;
    color: black;
}