.cart {
    padding: 1em 0.35em;   
    display: flex;
    box-shadow: 0px 0px 0px 0.1px rgb(0 0 0 / 40%);

    span {
       display: none;
      
    }
 }
 .col-s2{
   width: 20%!important;
   margin-top: 15px;
   
}
.col-s3{
   width: 25%;
   margin-left: auto;
   margin-top: 15px;
   left: auto;
   right: auto;
}
.col-s7 {
   width: 58.3333333333%;
   margin-top: 15px;
   
}
.img-circle{
   max-width: 40%;
   margin-left: 15px;
   margin-bottom: 20px;
   border-radius: 30px !important;
}
.span-2{
   display: initial!important;
    background-color: #000000 !important;
    color: #fff !important;
    width: 17px !important;
    height: 20px !important;
    border-radius: 50% !important;
    position: relative !important;
    bottom: 15px !important;
    text-align: center;
    padding: 2px 4px 2px 4px !important;
}
.sacola{
   margin-top: 15px;
}
.ativo{
   display: flex !important;

}

.card{
   text-align: center;
   height: 73px;
   margin-bottom: 30px;
}
.td-img{
   width: 18%;
}
.img-product{
   margin: 10px;
   width: 45%;
   width: 75%;

}
.desc{
   font-size: 14px;

}


.price-h5{
   color: black;
   font-size: 1.44rem;
   line-height: 110%;
   font-weight: bolder;
   margin-bottom: 0px;
}
.texto-desabilitado {
   color: #b5b0b0;   
}
.button{
   width: 100%;
   margin: 0;
}

.inactive {
    display: none;
}