

<div class="cart" (click)="toggleAccordion()">
 
   <span *ngIf="isMenuOpen">&#9650;</span>
   <span *ngIf="!isMenuOpen">&#9660;</span>

   <div class="col-s2">    
       <img class="img-circle" src="/assets/img/img-perfil.png">
   </div>
   <div class="col-s7">
      {{ name }}
   </div>
   <div class="sacola">
     <img src="/assets/img/icon-sacola.svg" alt="" width="30px">
     <span class="span-2">3</span>
   </div>
 </div>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <div class="ativo">
    <table>
      <tbody>
        <tr>
          <td class="td-img"><img class="img-product" [src]="image"></td>
          <td><strong class="desc">{{ description }}</strong></td>
          <td>R$ 5.790,00</td>
        </tr>      

      </tbody>
    </table>
    </div>
    <ion-card class="card">
      <h5 class="price-h5"><b>R$ 5.790,00</b></h5>
      <span class="texto-desabilitado">em até de 12x R$ 23.107,91</span>

    </ion-card>
    <ion-card class="card-2">
   
            <ion-button class="button"
              type="button" 
              color="dark" 
              fill="solid" 
              size="default" 
              (click)="broadcastName(name)">Finalizar Compra</ion-button>
            
      
    </ion-card>
</div>
  
    
  