ion-header {
    margin: 10px auto;
    width: 70%;
}

ion-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ion-card-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    font-size: 14px;
    color: black;
}

.product-img {
    width: 100%;
}

p {
    text-align: justify;
}
