<ion-header no-border>
  <img src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content>

  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <img class="product-img" [src]="product.images.md">
      <ion-card-title>
        {{product.title}}
      </ion-card-title>
      <br>
      <p class="desc">
        {{product.description}}
      </p>
    </ion-card-header>
  </ion-card>

</ion-content>