<ion-header no-border>
  <img src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>
<ion-content>


  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/bolsa-fendi-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Bolsa Fendi 2Jours Medium Marrom
      </ion-card-title>
      <br>
      <p class="desc">
        Bolsa Fendi 2Jours Medium Marrom original confeccionada em couro vitello e saffiano
        ma<span class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " href=""
            class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/pasta-dolce-gabbana-couro-azul-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Pasta Dolce & Gabbana Couro Azul
      </ion-card-title>
      <br>
      <p class="desc">
        Pasta Dolce &amp; Gabbana confeccionada em couro na cor azul. O modelo possui alça
        <span class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " class="a" href=""
            class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/sandalia-gucci-horsebit-camurca-marrom-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Sandália Gucci Horsebit Camurça Marrom
      </ion-card-title>
      <br>
      <p class="desc">
        Sandália Gucci Horsebit confeccionada em camurça na cor marrom. O modelo conta c<span
          class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " href="" class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/relogio-michael-kors-dourado-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Relógio Michael Kors Access Sofie - MKT5021
      </ion-card-title>
      <br>
      <p class="desc">
        Processador Qualcomm Snapdragon Wear 2100, 4gb de armazenamento e 512mb de
        <span class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " href="" class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/bolsa-louis-vuitton-metis-hobo-monogram-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Bolsa Louis Vuitton Metis Hobo Monogram
      </ion-card-title>
      <br>
      <p class="desc">
        Bolsa Louis Vuitton Metis Hobo Monogram confeccionada em canvas. O modelo de ta
        <span class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " href="" class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <img src="http://ambteste.com.br/app-resolvidesapegar/img/tenis-gucci-couro-off-white-01.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        Tênis Gucci Couro Off White
      </ion-card-title>
      <br>
      <p class="desc">
        Tênis Gucci confeccionado em couro na cor off white. O modelo conta com bico arredondado, e
        <span class="moreellipses">...&nbsp;&nbsp;<a style="color: #b1b3b7 " href="" class="mostrarlink">mais</a></span>
      </p>
    </ion-card-header>
  </ion-card>

</ion-content>