ion-header {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70%;
    
  }
  
    .hydrated{
    
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 14px;
      color: black;
      margin: -1px;
      
    }
  
  
    .ion-card-content{
      display: flex;
      width: 108%;
    } 
    .ion-card-subtitle{
      margin-top: 5px;
      margin-left: -16px;
      margin-right: 72px;
      font-size: 14px;
    }
    .desc{
      margin-top: -13px !important;
    }
   
   
    .img-product{
      width: 35% !important;
    }
   
                  