<ion-header no-border>
  <img src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>
<ion-content>

  <ion-card *ngIf="products">
    <img class="product-img" [src]="products[0].images.md" alt="" />
    <ion-card-header>
      <p class="product-title"> {{ products[0].title }} </p>

      <div class="div-content">
        <ion-row>
          <ion-col>
            <ion-card-subtitle class="product-price">R$ {{products[0].price}}</ion-card-subtitle>
          </ion-col>

          <ion-col class="text-right">
            <ion-button color="#fff" class="buttom-cart">
              <ion-icon name="bag-outline"></ion-icon>
              <p>Apegar</p>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <p class="price">
        <b>10x de R$ 119,00</b> sem juros ou <b>R$ 1.071,00</b> à vista em depósito bancário ou transferência.
      </p>
    </ion-card-header>

    <ion-segment [(ngModel)]="type">
      <ion-segment-button value='info'>
        <ion-label>INFORMAÇÕES</ion-label>
      </ion-segment-button>

      <ion-segment-button value='espec'>
        <ion-label>ESPECIFICAÇÕES</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="div-description" [ngSwitch]="type">

      <div *ngSwitchCase="'info'">
        <p><b>Descrição</b></p>
        <p> {{products[0].description}} </p>
      </div>

      <div *ngSwitchCase="'espec'">
        <p>
          <b>REF:</b> {{products[0].code}} <br>
          <b>Marca:</b> {{products[0].brand.title}} <br>
          <b>Condições:</b> <br>
          <b>Cor:</b>
        </p>
        <p>
          <b>Medidas</b><br>
          Altura: {{products[0].package.height}} <br>
          Largura: {{products[0].package.width}}
        </p>
      </div>
    </div>

  </ion-card>
</ion-content>