ion-header {
    margin: 10px auto;
    width: 70%;
}

.div-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product-title {
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
}

.product-price {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
}


.buttom-cart {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.buttom-cart ion-icon {
    color: black;
}

.buttom-cart p {
    color: black;
    padding-left: 3px;
}

.price {
    color: black;
    font-size: 14px;
}

.text-right {
    text-align: right;
}

.div-description {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #000;
    text-align: justify;
}