<ion-header>
  
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content>


  <ion-text class="text-1">
    <h5 class="text-1-h5">
      Encontre tudo o que precisar, em apenas um lugar.
    </h5>
  </ion-text>
    <ion-searchbar placeholder='Qual seu desejo?'></ion-searchbar>
</ion-content>