ion-header {
    text-align: center;
}
.img-header {
    margin: 10px auto;
    width: 67.666667%;
    margin-top: 13px;
    margin-bottom: 5px;
}
ion-toolbar {
    margin: 15px;
}
.text-1-h5 {
    font-size: 1.44rem !important;
    line-height: 110% !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    margin: 2.093333rem 0 0.656rem 0 !important;
    font-weight: bolder !important;
    text-align: center !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
ion-searchbar {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    background: #fff !important;
    border-radius: 30px !important;
    height: 40px !important;
    width: 95%;
    margin-left: 3%;
    font-size: 1rem !important;
    display: inline-table;

}

ion-input {
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    height: 3rem !important;
    font-size: 16px !important;
    box-shadow: none !important;

}