<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="page">{{page.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="page">
  <div [innerHTML]="page.conteudo"></div>

</ion-content>
