.modal{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 14px;
  font-size: 14px;
}
h5 {
  font-size: 1.34rem;
  line-height: 110%;
  margin: 2.0933333333rem 0 .656rem 0;
}
.inputs{
  margin-top: 15px;
  width: 112%;
  margin-left: -27px;
}
.footer{
    padding-left: 155px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
}
.button{
  text-decoration: none;
    color: #fff;   
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
}
.icon{
  margin-right: 10px;
}
ion-toolbar{
  --border-width: 0 !important;
}