<ion-content>
  <div class="modal">
    <h5 class="h5"><b>Esqueci minha senha</b></h5>
    <p>
      Digite seu endereço de e-mail a seguir
      para que possamos enviar um e-mail de recuperação de senha.
    </p>
    <ion-item class="inputs">
      <ion-label color="" position=""></ion-label>
      <ion-icon size="small" class="icon" name="mail" color="" slot=""></ion-icon>
      <ion-input inputmode="text" placeholder="E-mail"></ion-input>
    </ion-item>
  </div>
  <ion-footer class="footer">
    <ion-toolbar>
      <ion-button color="#26a69a">Recuperar</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>