ion-header {
    text-align: center;
 }
 .img-header{
     margin: 10px auto;
     width: 56.6666666667%;
     margin-top: 13px;
     margin-bottom: 5px;
 }
 h1.titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.inputs{
    color: #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    background-color: transparent;
    font-size: 14px;
    margin: 15px;
}
.row-button{
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    

}
ion-button{
    color: white;
    font-size: 11px;
    width: 75.333333% !important;
    margin-left: 12.333333%;
    height: 36px;
    line-height: 36px;
    --border-radius: 20px !important;
    margin-bottom: -20px;
}
.icon{
    color: #9e9e9e;
    width: 22px;
}
ion-list{

    margin-top: -18px;
}
.link{
    text-align: center;
    margin: 40px;
}
a{
    color: #039be5;
    text-decoration: none;
    font-size: 13px;
}
.inner-scroll {
    width: 20% !important;
    
  }