<ion-header>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content >
<ion-col>
  <h1 class="titulo">Cadastre-se</h1>
</ion-col>
<ion-list>
  <ion-item class="inputs">
    <ion-label color="" position=""></ion-label>
    <ion-icon class="icon" name="person-circle"></ion-icon>
    <ion-input inputmode="text" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item class="inputs">
    <ion-label color="" position=""></ion-label>
    <ion-icon class="icon" name="mail" color="" slot=""></ion-icon>
    <ion-input inputmode="text" placeholder="E-mail"></ion-input>
  </ion-item>

  <ion-item class="inputs">
    <ion-label color="" position=""></ion-label>
    <ion-icon class="icon" name="lock-closed"></ion-icon>
     <ion-input inputmode="text" placeholder="Senha"></ion-input>
  </ion-item>
  
  <ion-item class="inputs">
    <ion-label color="" position=""></ion-label>
    <ion-icon class="icon" name="lock-closed"></ion-icon>
     <ion-input inputmode="text" placeholder="Repetir senha"></ion-input>
  </ion-item>
</ion-list>

<ion-row class="row-button">
  <ion-button color="dark"  class="button">CONTINUAR</ion-button>
</ion-row>

  <div class="link">
    <a (click)="goToLogin()"> Já sou cadastrado </a>  
  </div>
</ion-content>
