<ion-header>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content>
  <div class="div-margin">
    <ion-segment class="segment" [(ngModel)]="type">
      <ion-segment-button  class="segment-button" value="termos">
        <h6><b>Termos</b></h6>
      </ion-segment-button>
      <ion-segment-button  class="segment-button" value="dados">
        <h6><b>Dados</b></h6>      
      </ion-segment-button>
      <ion-segment-button class="segment-button"value="condicoes">
        <h6><b>Condições</b></h6> 
      </ion-segment-button>
    </ion-segment>

    

    <div [ngSwitch]="type">

      <div *ngSwitchCase="'termos'">
        <div>
          <ion-progress-bar color="dark" value="0"></ion-progress-bar>
        </div>
        <div class="div-text">
          <p>Adicione fotos que mostram que seu produto é original.Caso haja desgaste ou dano visível,
            não se esqueça de
            fotografá-lo.</p>
        </div>

        <div class="div-box">
          <div class="div-padding">
            <div class="div-selector">
              <ion-icon name="add" (click)="PickMultipleImages()"></ion-icon>
            </div>
            <div>
              <ion-list *ngFor="let image of images">
                <ion-item>
                  <img src={{image}} />
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>

        <div class="div-terms">
          <ion-row>
            <ion-col size="1">
              <ion-checkbox color="dark" checked="false"></ion-checkbox>
            </ion-col>
            <ion-col>
              <ion-label>
                <p>
                  Eu concordo com os <b>termos de uso</b> e garanto que todos as
                  informações fornecidas acima são verdadeiras.
                </p>
              </ion-label>
            </ion-col>
          </ion-row>
        </div>

        <div class="div-button">
          <ion-button color="black" (click)="NextPage()">Continuar</ion-button>
        </div>
      </div>

      <div class="dados" *ngSwitchCase="'dados'">
        <div>
          <ion-progress-bar class="progress-dados" color="dark" value="0.5"></ion-progress-bar>
        </div>
        <ion-text class="text-1">
          <p>
            Que tipo de item que você está vendendo? <br>Selecione a categoria e marca que seu item se encaixa.
          </p>
        </ion-text>
        <ion-item class="select-1">
          <ion-label>Categoria</ion-label>
          <ion-select>
            <ion-select-option value="brown">Bolsas</ion-select-option>
            <ion-select-option value="blonde">Sandálias</ion-select-option>
            <ion-select-option value="black">Relógios</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="select-2">
          <ion-label>Marca</ion-label>
          <ion-select>
            <ion-select-option value="brown">Fendi</ion-select-option>
            <ion-select-option value="blonde">Dolce & Gabbana</ion-select-option>
            <ion-select-option value="black">Gucci</ion-select-option>
            <ion-select-option value="red">Michael Kors</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-input class="ion-input-1" placeholder="Modelo do produto"></ion-input>

        <div class="ion-central-1">
          <ion-input class="ion-input-2" placeholder="Qual valor pagou?"></ion-input>
          <ion-input class="ion-input-2" placeholder="Por quanto deseja vender?"></ion-input>
        </div>

        <div class="div-button">
          <ion-button color="black" (click)="NextPage()">Continuar</ion-button>
        </div>
      </div>

      <div *ngSwitchCase="'condicoes'">
        <div>
          <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
        </div>
        <div class="div-text">
          <p class="text-1">
            Selecione as condições e acessórios que serão enviados juntamente com o produto.
          </p>
        </div>

        <div>
          <ion-row class="row" radio-group>
            <h6>
              <b>Qual a condição do produto?</b>
            </h6>
            <form>
              <ion-radio>Sim</ion-radio>
              <ion-label>Sim</ion-label>

              <ion-radio class="item-radio">Semi Novo</ion-radio>
              <ion-label>Semi Novo</ion-label>
            </form>

          </ion-row>
          <ion-row class="row" radio-group>
            <h6>
              <b>Possui a nota fiscal do produto?</b>
            </h6>
            <form>
              <ion-radio>Sim</ion-radio>
              <ion-label>Sim</ion-label>

              <ion-radio class="item-radio">Não</ion-radio>
              <ion-label>Não</ion-label>
            </form>

          </ion-row>
          <ion-row class="row" radio-group>
            <h6>
              <b>Possui cartão de identificação?</b>
            </h6>
            <form>
              <ion-radio>Sim</ion-radio>
              <ion-label>Sim</ion-label>

              <ion-radio class="item-radio">Não</ion-radio>
              <ion-label>Não</ion-label>
            </form>

          </ion-row>
          <ion-row class="row" radio-group>
            <h6>
              <b>O produto esta na caixa ou embalagem original?</b>
            </h6>
            <form>
              <ion-radio>Sim</ion-radio>
              <ion-label>Sim</ion-label>

              <ion-radio class="item-radio">Não</ion-radio>
              <ion-label>Não</ion-label>
            </form>

          </ion-row>
          <ion-row class="row" radio-group>
            <h6>
              <b>O produto possuí Dust Bag?</b>
            </h6>
            <form>
              <ion-radio>Sim</ion-radio>
              <ion-label>Sim</ion-label>

              <ion-radio class="item-radio">Não</ion-radio>
              <ion-label>Não</ion-label>
            </form>

          </ion-row>

          <ion-row class="row" radio-group>
            <h6>
              <b>O que deseja fazer com o produto?</b>
            </h6>
            <form>
              <ion-radio>Vender</ion-radio>
              <ion-label>Vender</ion-label>

              <ion-radio class="item-radio">Consignar</ion-radio>
              <ion-label>Consignar</ion-label>
            </form>

          </ion-row>
          <ion-input class="input-final" placeholder="Observações"></ion-input>
          <div class="div-button">
            <ion-button  color="black" (click)="NextPage()">Enviar Produto</ion-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>