ion-header {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: contents;
    text-align: center;
}
.img-header {
    margin: 10px auto;
    width: 70%;
    margin-top: 13px;
    margin-bottom: 5px;
}

.segment {
    text-transform: none;
}

ion-tabs {
    display: contents;
    width: 90%;
}
ion-tab-bar {
    width: 86%;
    margin-left: 20px;
}

ion-progress-bar {
    margin-top: -3px;
    width: 101%;
    margin-left: -2px;
}


.label-tab {
    margin-top: -40px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

.label-tab-2 {
    margin-top: -40px;
    font-weight: bolder;
    font-size: 15px;
    color: #dddddd;
}
.div-margin {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.div-text {
    text-align: center;
    font-size: 18px;
    width: 95%;
    margin: 30px auto;
}

.div-box {
    background: #eeeeee;
    display: block;
    width: 95%;
    padding: 17px 0;
    margin: 30px auto;
    border-radius: 4px;
}

.div-padding {
    padding-left: 20px;
}

.div-selector {
    padding: 29px 0;
    width: 20%;
    height: 100px;
    border: 2px dashed #837bb4;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    color: #837bb4;
    vertical-align: top;
}

.div-terms p {
    color: #9e9e9e;
    font-size: 12px;
}

.div-terms b {
    color: #000000;
}

.div-button {
    text-align: center;
    margin: 20px auto;
}

.div-button ion-button {
    background-color: #000000;
    border-radius: 5px;
    width: 63%;
}
.segment-button {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
    font-weight: bolder;
    text-transform: none;
}
.text-1 {
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}
.select-1 {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    margin-bottom: 10px;
}
.select-2 {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
}

.ion-input-1 {
    margin-top: 20px;
    border-bottom: 1px solid #9e9e9e;
}
.ion-input-2 {
    border-bottom: 1px solid #9e9e9e;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
    font-size: 14px;
}

.ion-central-1 {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

//CSS Condicoes

ion-row {
    margin: 0px 10px 15px 10px;
}

.div-text {
    margin: 30px 10px 0px 10px;
}

.text-1 {
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}

.item-radio {
    margin-left: 10px;
}

ion-input {
    font-size: 0.9rem;
}

ion-item {
    --border-style: none;
}

.item-titulo {
    margin-top: 5px;
}

.item-radio {
    margin-left: 10px;
}

ion-radio {
    padding-right: 5px;
    height: 17px;
}

ion-label {
    font-size: 0.8rem !important;
    color: #9e9e9e !important;
    padding-bottom: 10px !important;
    width: 1px !important;
}

.input-final {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    border-bottom: 1px solid #9e9e9e;
}