ion-header {
    text-align: center;
}
.img-header {
    margin: 10px auto;
    width: 70%;
    margin-top: 13px;
    margin-bottom: 5px;
}

.icon-menu-lateral {
    display: flex;
}

.div-home {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 16px;
}

.h6-ver {
    font-size: 0.9rem !important;
    color: #000000;
}
.h6-feed {
    color: #808080 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
.products {
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.row-products {
    margin-bottom: -5px !important;
}

.divider-h {
    margin: 20px;
    margin-left: 10px;
    border: solid 1px #e5e5e5;
    width: 93%;
}
.row-promocoes {
    height: 24px;
}
.price-cart {
    background-color: inherit;
    border-top: 1px solid rgb(0 0 0 / 20%) !important;
    position: relative;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
.price-cart-1 {
    display: flex;
    align-items: center !important;
}
.img-cart {
    max-width: 19%;
    margin-left: 30px;
}
.price {
    font-size: 0.9rem !important;
}
.titulo-produto-home {
    font-size: 0.9rem !important;
    line-height: normal !important;
    font-weight: 700 !important;
    margin: 10px auto !important;
}
.text-right {
    text-align: right;
}

a {
    text-decoration: none;
}
.produtos-home {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.div-home img {
    border-radius: 5px;
}

h4 {
    font-weight: bold;
}
