<ion-header>
  <ion-icon class="icon-menu-lateral" name="menu-outline" (click)="openFirst()"></ion-icon>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content class='page-home'>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content id="main">
      <ion-list>
        <ion-item>Categorias</ion-item>
        <ion-item>Feed Produtos</ion-item>
        <ion-item>Cadastro</ion-item>
        <ion-item>Login</ion-item>
        <ion-item>Esqueci Minha Senha</ion-item>
        <ion-item>Checkout</ion-item>
        <ion-item>Carrinho</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div>
    <img src="/assets/img/banner.png">
  </div>

  <div class="products">
    <ion-row>
      <ion-col>
        <h6 class="h6-feed">Feed</h6>
      </ion-col>
      <ion-col class="text-right">
        <h6 class="h6-ver" (click)="goToProductFeed()">Ver Mais</h6>
      </ion-col>
    </ion-row>
    <ion-row class="row-products">
      <ion-col class="border">
        <img src="/assets/img/bolsa01.png">
      </ion-col>
      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
      </ion-col>
    </ion-row>
  </div>

  <div class="divider-h"></div>

  <div>
    <img src="/assets/img/banner02.png">
  </div>

  <div class="div-home">
    <ion-row class="row-promocoes">
      <ion-col>
        <h6 class="h6-feed">Promoções</h6>
      </ion-col>
      <ion-col class="text-right">
        <h6 class="h6-ver" (click)="goToProductFeed()">Ver Mais</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border">
        <img src="/assets/img/bolsa01.png">
        <span>R$ 5.700,00</span>
      </ion-col>
      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
        <span>R$ 3.290,00</span>
      </ion-col>
      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
        <span>R$ 1.490,00</span>
      </ion-col>
    </ion-row>
  </div>
  <div class="divider-h"></div>

  <div>
    <ion-row>
      <ion-col class="border">
        <img src="/assets/img/bolsa01.png">
        <h4 class="titulo-produto-home"> Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">
          </div>
        </div>
      </ion-col>

      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
        <h4 class="titulo-produto-home">Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="border">
        <img src="/assets/img/bolsa01.png">
        <h4 class="titulo-produto-home">Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">
          </div>
        </div>
      </ion-col>

      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
        <h4 class="titulo-produto-home">Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="border">
        <img src="/assets/img/bolsa01.png">
        <h4 class="titulo-produto-home">Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">

          </div>
        </div>
      </ion-col>

      <ion-col class="border">
        <img src="/assets/img/bolsa02.png">
        <h4 class="titulo-produto-home">Bolsa Fendi 2Jours Medium Marrom</h4>
        <div class="price-cart">
          <div class="price-cart-1">
            <span class="price">R$ 5.790,00</span>
            <img (click)=" goToProductDetails()" class="img-cart" src="/assets/img/icon-sacola.svg">
          </div>
        </div>
      </ion-col>

    </ion-row>
  </div>

</ion-content>