ion-header {
    text-align: center;
 }
 .img-header{
     margin: 10px auto;
     width: 70%;
     margin-top: 13px;
     margin-bottom: 5px;
 }

.cart{
    display: flex;
    background-color: #ffffff !important; 
    box-shadow: 0px 0px 0px 0.1px rgb(0 0 0 / 40%);
}
.col-s2{
    width: 20%!important;
    margin-top: 15px;
    
}
.col-s3{
    width: 25%;
    margin-left: auto;
    margin-top: 15px;
    left: auto;
    right: auto;
}
.col-s7 {
    width: 58.3333333333%;
    margin-top: 15px;
    
}
.img-circle{
    max-width: 40%;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 30px !important;
}
.span{
    margin-top: 15px;
    background-color: #000000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    text-align: center;
    padding: 2px 4px 2px 4px;
}
.sacola{
    margin-top: 15px;
}