<ion-header>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content >

</ion-content>




<app-mi-accordion 
*ngFor="let technology of technologies" 
name="{{ technology.name }}" 
description="{{ technology.description }}"
image="{{ technology.image }}" 

(change)="captureName($event)">
</app-mi-accordion>