.cart{
   display: flex;
   border-radius: 5px;   
   box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);  
   line-height: 1.5;
   border-bottom: 1px solid #ddd;
   margin: 28px;
   height: 51px;
}
.icon-cart {
   width: 6%;
   height: 40%;
   margin-top: 17px;
   margin: 17px;
}
.produtos {
   font-size: 0.8rem;
    color: #fff;
    background-color: #000000;
    border-radius: 2px;
    min-width: 25%;
    height: 22px;
    margin: 16px;
    text-align: center;

}
.preco{
   padding: 10px;
   padding-left: 25px;
   font-size: 0.8rem !important;
   line-height: normal !important;
   width: 29%;}
.menu-open{
   font-size: 14px;
   margin-left: 3px;
}
.desconto{
   border-bottom: 1px solid rgba(0,0,0,0.12);
   display: flex;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.button {
   --width: 30%!important;
   margin: 0;
}
.ativo{
   display: flex !important;
   margin-left: 20px;
   margin-right: 20px;

}

 .itens{
   font-size: 15px;
 }
 .col-s2{
   width: 20%!important;
   margin-top: 15px;
   
}
.col-s3{
   width: 25%;
   margin-left: auto;
   margin-top: 15px;
   left: auto;
   right: auto;
}
.col-s7 {
   width: 58.3333333333%;
   margin-top: 15px;
   
}
.img-circle{
   max-width: 40%;
   margin-left: 15px;
   margin-bottom: 20px;
   border-radius: 30px !important;
}
.span-2{
   display: initial!important;
    background-color: #000000 !important;
    color: #fff !important;
    width: 17px !important;
    height: 20px !important;
    border-radius: 50% !important;
    position: relative !important;
    bottom: 15px !important;
    text-align: center;
    padding: 2px 4px 2px 4px !important;
}
.sacola{
   margin-top: 15px;
}


.card{
   text-align: center;
   height: 73px;
   margin-bottom: 30px;
}
.td-img{
   width: 18%;
}
.img-product{
   margin: 10px;
   width: 45%;
   width: 75%;

}
.desc{
   font-size: 14px;

}


.price-h5{
   color: black;
   font-size: 1.44rem;
   line-height: 110%;
   font-weight: bolder;
   margin-bottom: 0px;
}
.texto-desabilitado {
   color: #b5b0b0;   
}


.inactive {
    display: none;
}