<div class="cart">
  <img class="icon-cart" src="/assets/img/cart.png">  
  <h2 class="itens" (click)="toggleAccordion()">
    Itens
   <span class="menu-open" *ngIf="isMenuOpen">&#9650;</span>
   <span class="menu-open" *ngIf="!isMenuOpen">&#9660;</span>
  </h2>
  <span class="produtos">Produtos: 3</span>
  <span class="preco">R$ 5.790,00</span>
</div>

<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <div class="ativo">
    <table>
      <tbody>
        <tr>
          <td class="td-img"><img class="img-product" [src]="image"></td>
          <td><strong class="desc">{{ description }}</strong></td>
          <td>R$ 5.790,00</td>
        </tr>      

      </tbody>
    </table>
    </div>
 
</div>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <div class="ativo">
    <table>
      <tbody>
        <tr>
          <td class="td-img"><img class="img-product" [src]="image"></td>
          <td><strong class="desc">{{ description }}</strong></td>
          <td>R$ 5.790,00</td>
        </tr>      

      </tbody>
    </table>
    </div>
 <div class="desconto">
   <ion-input class="button" placeholder="Cupom de desconto"></ion-input>
  <ion-button color="dark">Aplicar</ion-button>
  </div>
</div>