ion-header {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: contents;
    text-align: center;
 }
 .img-header{
     margin: 10px auto;
     width: 70%;
     margin-top: 13px;
     margin-bottom: 5px;
 }
 .endereco{
     margin: 10px;
     color: black;
 }
 ion-card{
    width: 85%;
    margin-left: 26px;
}
.pagar{
    text-align: center;
}
.paypal{
    margin-left: 30px;
}
.itau{
    margin-left: 68%;
}
b, strong {
    font-weight: bold;
    color: black;
}

 .row{
    text-align: end !important;
 }
.price{
    margin: 10px;
    display: grid;
}
.desconto{
    color: #507e4e !important;
}
.price-preto{
    color: black;
}
.price-h5{
    font-size: 21px;
}
 .button-center{
     text-align: center;
 }
 ion-button{
    --background-color: white !important;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 25px;
}
.sedex{
    margin: 25px;
    margin-top: 0px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}