<ion-header>
  <img class="img-header" src="/assets/img/logo-resolvidesapegar.svg">
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-card>
          <p class="endereco">
          <b>Endereço de entrega:</b>
          <br>
          Rua Juioana, 43 - 08160100
          <br>
          Jardim Campos - São Paulo - SP
          <br>
          <br>
          <a href="#">Alterar endereço</a>
        </p>
        
          
        </ion-card>
    </ion-radio-group>
  </ion-list>
  
      <ion-item class="sedex">
        <ion-label>Sedex Grátis 10 dias úteis</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
  <ion-card class="pagar">
        <b>Pagar com</b>
     
      <ion-segment color="primary" [(ngModel)]="yudsegment">
      <ion-segment-button  value="paypal">
        Cartão de crédito
      </ion-segment-button>
      <ion-segment-button value="itau">
        Depósito
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="yudsegment">
      <ion-list *ngSwitchCase="'paypal'">
        <ion-item>
            <ion-radio slot="start" value="griff"></ion-radio>
            <img class="paypal" src="assets/img/paypal.png" width="60px">
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'itau'">
        <ion-item>
            <ion-radio slot="start" value="griff"></ion-radio>
            <img class="itau" src="assets/img/itau.png" width="60px">
        </ion-item>
      </ion-list>
    </div>  
  </ion-card>
    <app-mi-accordion-checkout
    *ngFor="let technology of technologies" 
    name="{{ technology.name }}" 
    description="{{ technology.description }}"
    image="{{ technology.image }}" 
    
    (change)="captureName($event)">
    </app-mi-accordion-checkout>


    <div class="row">
        <ion-card class="card">
          <div class="price">
            <span class="price-preto">Sub-total:  R$ 5.790,00</span>
       
            <span class="price-preto">Frete + Seguro: R$ R$ 26,91</span>
        
            <span class="desconto">Desconto - R$ -79,00</span>

            <h5 class="price-h5"><b>R$ 5.790,00</b></h5>    
          </div>      
        <div class="button-center">
          <ion-button class="button"
                      type="button" 
                      color="light" 
                      fill="solid" 
                      size="default" 
                      >Finalizar Compra</ion-button>
        </div>           
                
        </ion-card>
            

    </div>
</ion-content>
